:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1280px;
    font-family: 'Poppins',sans-serif;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

/*NAVBAR*/
nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left a{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}
.left a img{
    height: 5.875rem;
    width: 1.938rem;
}
.left a span{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.middle{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.middle a{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
}
.middle a:hover{
    color: var(--link-color);
}

.right a{
    background-color: var(--accent-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    color: var(--background-color);
}

.right a:hover{
    background-color: var(--link-color);
}


