:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*NAVBAR*/
nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.left a img {
    height: 5.875rem;
    width: 1.938rem;
}

.left a span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.middle {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.middle a {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
}

.middle a:hover {
    color: var(--link-color);
}

.right a {
    background-color: var(--accent-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    color: var(--background-color);
}

.right a:hover {
    background-color: var(--link-color);
}

.right span {
    display: none;
}

@media screen and (max-width: 800px) {
    .middle {
        display: none;
    }

    .right a {
        display: none;
    }

    .right span {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        margin-right: 1rem;
    }
}

/* hero-section */
hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 1rem;
}

hero-section .right img {
    height: 60vh;
    width: auto;
    border-radius: 1.225rem;
}

#text {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

hero-section .left h1 {
    font-size: 3.8rem;
    padding: 1.1rem 1.1rem 1.1rem 0;
    width: 90%;
}

#Para {
    width: 70%;
    font-size: 1.1rem;
    color: var(--gray);
    text-align: justify;
}

.btns {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.btns button {
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);
}

.btns :first-child {
    background-color: var(--primary-color);
}

.btns :last-child {
    background-color: var(--dark-gray);
}

.btns :first-child:hover {
    background-color: var(--link-color);
}

.btns :last-child:hover {
    background-color: var(--gray);
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.left , company-content{
    opacity: 0;
    animation: slideFromLeft 1s ease forwards;
}

@media screen and (max-width: 768px) {
    hero-section {
        flex-direction: column; 
        gap: 2rem;
    }

    
    hero-section .right img {
        width: auto; 
        height: 50vh; 
        margin: 0 auto;
    }


    hero-section .left {
        text-align: center;
    }
    hero-section .left h1 {
        width: 100%; 
        font-size: 2.5rem; 
    }
    #Para {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .btns {
        justify-content: center;
    }
}

/*company-content section*/
company-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 2.5rem ;
}

.companies ul {
    list-style: none;
    display: flex;
    width: 50vw;
    min-height: 5rem;
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.625rem;
}

company-content h2 {
    font-size: 2.3rem;
    font-weight: bold;
}

.companies ul li img {
    height: 1.6rem;
    width: auto;
    margin-right: 0.5rem;
}

.companies ul li{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 880px) {
    .companies ul {
        grid-template-columns: 1fr 1fr; 
        width: 90vw;
        padding: 1rem;
        gap: 2rem;
    }

    company-content h2 {
        font-size: 1.6rem;
    }
}
.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 2.2rem;
    font-weight: bold;
}

.main-description{
    color: var(--gray);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
   
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 1.3rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d7890;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}

.feature-title{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-description{
    color: white;
}

.feature-card:nth-child(1){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #FF6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}

.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}

.testimonial-text{
    color: #555;
    font-size: 0.875rem;
}

.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}

.newsletter-container{
    background-color: var(--background-color);
    
    max-width: 1280px;
    height: 40vh;
    margin: 0 auto;
}

.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.news-left{
    height: 100%;
    width: 50%;
    display: none;
    position: relative;
}
.news-left img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
}

@media screen and (min-width:640px) {
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
}

.news-info{
    padding:0 3rem;
}

.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
}

.news-desc{
    text-align: left;
    color: #777;
}

.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}


.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.news-send-button:hover{
    background-color: var(--link-color);
}

.privacy-policy{
    font-size: 0.76rem;
    padding: 0 3rem;
    color: #777;
}

.news-link{
    text-decoration: underline;
    color: #2563eb;
}

@media screen and (min-width:640px) {
    .news-title{
        font-size: 2.5rem;
    }
}

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}