:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*NAVBAR*/
nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.left a img {
    height: 5.875rem;
    width: 1.938rem;
}

.left a span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.middle {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.middle a {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
}

.middle a:hover {
    color: var(--link-color);
}

.right a {
    background-color: var(--accent-color);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    color: var(--background-color);
}

.right a:hover {
    background-color: var(--link-color);
}

.right span {
    display: none;
}

@media screen and (max-width: 800px) {
    .middle {
        display: none;
    }

    .right a {
        display: none;
    }

    .right span {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        margin-right: 1rem;
    }
}

/* hero-section */
hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 1rem;
}

hero-section .right img {
    height: 60vh;
    width: auto;
    border-radius: 1.225rem;
}

#text {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

hero-section .left h1 {
    font-size: 3.8rem;
    padding: 1.1rem 1.1rem 1.1rem 0;
    width: 90%;
}

#Para {
    width: 70%;
    font-size: 1.1rem;
    color: var(--gray);
    text-align: justify;
}

.btns {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.btns button {
    border: none;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);
}

.btns :first-child {
    background-color: var(--primary-color);
}

.btns :last-child {
    background-color: var(--dark-gray);
}

.btns :first-child:hover {
    background-color: var(--link-color);
}

.btns :last-child:hover {
    background-color: var(--gray);
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.left , company-content{
    opacity: 0;
    animation: slideFromLeft 1s ease forwards;
}

@media screen and (max-width: 768px) {
    hero-section {
        flex-direction: column; 
        gap: 2rem;
    }

    
    hero-section .right img {
        width: auto; 
        height: 50vh; 
        margin: 0 auto;
    }


    hero-section .left {
        text-align: center;
    }
    hero-section .left h1 {
        width: 100%; 
        font-size: 2.5rem; 
    }
    #Para {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .btns {
        justify-content: center;
    }
}

/*company-content section*/
company-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 2.5rem ;
}

.companies ul {
    list-style: none;
    display: flex;
    width: 50vw;
    min-height: 5rem;
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.625rem;
}

company-content h2 {
    font-size: 2.3rem;
    font-weight: bold;
}

.companies ul li img {
    height: 1.6rem;
    width: auto;
    margin-right: 0.5rem;
}

.companies ul li{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 880px) {
    .companies ul {
        grid-template-columns: 1fr 1fr; 
        width: 90vw;
        padding: 1rem;
        gap: 2rem;
    }

    company-content h2 {
        font-size: 1.6rem;
    }
}